.text-notification {
  width: 90%;
  min-height: 25px;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: 15px;

  margin: 0;

  margin-top: 20px;
  animation: fade-in-top 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;

  padding: 3px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.text-error {
  color: red;
  border: 1px solid red;
  background-color: white;
}

.text-success {
  color: greenyellow;
  border: 1px solid greenyellow;
  background-color: black;

  animation: jello-vertical 0.9s both;
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
