.text-input_minimalistic {
  font-family: inherit;

  width: 90%;
  height: 25px;

  border-bottom: 2px solid white;

  color: white;
  font-size: 18px;

  margin-top: 25px;

  transition: 500ms;

  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  &::placeholder {
    color: inherit;
    font-family: inherit;
    font-size: 18px;
  }
}

.password-input__box {
  width: 90%;

  border-bottom: 2px solid white;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .text-input_minimalistic {
    border: none;
  }

  button {
    width: 20px;
    height: 20px;

    border: none;
    background: none;

    background: url('src/assets/show.svg');
    background-size: cover;

    transition: 100ms;

    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }
}

.text-input_error {
  color: red;
  border-bottom: 2px solid red;
  animation: jello-horizontal 0.5s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.05, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.1, 1);
  }
  50% {
    transform: scale3d(1.05, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1, 1);
  }
  75% {
    transform: scale3d(1, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes scale-in-hor-right {
  0% {
    transform: scaleX(0);

    transform-origin: 100% 100%;
    opacity: 0.5;
  }
  100% {
    transform: scaleX(1);

    transform-origin: 100% 100%;
    opacity: 1;
  }
}
